/TSP_problem/bin
/TSP_problem/obj
/TSP_problem/.vs
/TSP_Problem_UnitTests/bin
/TSP_Problem_UnitTests/obj
/TSP_Visualization/bin
/TSP_Visualization/obj
/TSP_Visualization/obj/Debug/net6.0/*.BuildWithSkipAnalyzers
/TSP_Problem_Common/obj/Debug/net6.0/*.cache
/TSP_Problem_Common/obj/*.cache
/TSP_Visualization/obj/Debug/net6.0/*.cache
/TSP_Visualization/obj/*.cache
/TSP_Visualization/obj/Debug/net6.0/*.CopyComplete
/TSP_Problem_Common/bin/Debug/net6.0/TSP_Problem_Common.dll
/TSP_Problem_Common/obj/Debug/net6.0/ref/TSP_Problem_Common.dll
/TSP_Problem_Common/obj/Debug/net6.0/refint/TSP_Problem_Common.dll
/TSP_Problem_Common/obj/Debug/net6.0/TSP_Problem_Common.dll
/TSP_Visualization/bin/Debug/net6.0/TSP_Problem_Common.dll
/TSP_Visualization/bin/Debug/net6.0/TSP_Visualization.dll
/TSP_Visualization/obj/Debug/net6.0/ref/TSP_Visualization.dll
/TSP_Visualization/obj/Debug/net6.0/refint/TSP_Visualization.dll
/TSP_Visualization/obj/Debug/net6.0/TSP_Visualization.dll
/TSP_Problem_Common/obj/Debug/net6.0/TSP_Problem_Common.GeneratedMSBuildEditorConfig.editorconfig
/TSP_Visualization/obj/Debug/net6.0/TSP_Visualization.GeneratedMSBuildEditorConfig.editorconfig
/TSP_Problem_Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TSP_Problem_Common/obj/Debug/net6.0/TSP_Problem_Common.AssemblyInfo.cs
/TSP_Problem_Common/obj/Debug/net6.0/TSP_Problem_Common.GlobalUsings.g.cs
/TSP_Visualization/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TSP_Visualization/obj/Debug/net6.0/TSP_Visualization.AssemblyInfo.cs
/TSP_Visualization/obj/Debug/net6.0/TSP_Visualization.GlobalUsings.g.cs
/TSP_Problem_Common/bin/Debug/net6.0/TSP_Problem_Common.deps.json
/TSP_Problem_Common/obj/project.assets.json
/TSP_Problem_Common/obj/TSP_Problem_Common.csproj.nuget.dgspec.json
/TSP_Visualization/bin/Debug/net6.0/TSP_Visualization.deps.json
/TSP_Visualization/obj/project.assets.json
/TSP_Visualization/obj/TSP_Visualization.csproj.nuget.dgspec.json
/TSP_Problem_Common/bin/Debug/net6.0/TSP_Problem_Common.pdb
/TSP_Problem_Common/obj/Debug/net6.0/TSP_Problem_Common.pdb
/TSP_Visualization/bin/Debug/net6.0/TSP_Problem_Common.pdb
/TSP_Visualization/bin/Debug/net6.0/TSP_Visualization.pdb
/TSP_Visualization/obj/Debug/net6.0/TSP_Visualization.pdb
/TSP_Problem_Common/obj/TSP_Problem_Common.csproj.nuget.g.props
/TSP_Visualization/obj/TSP_Visualization.csproj.nuget.g.props
/TSP_Problem_Common/obj/TSP_Problem_Common.csproj.nuget.g.targets
/TSP_Visualization/obj/TSP_Visualization.csproj.nuget.g.targets
/TSP_Problem_Common/obj/Debug/net6.0/TSP_Problem_Common.csproj.FileListAbsolute.txt
/TSP_Visualization/obj/Debug/net6.0/TSP_Visualization.csproj.FileListAbsolute.txt
/TSP_problem/Data/figures/*.png
/TSP_problem/Data/figures/progress_curve.png
/TSP_problem/Data/generations
